@tailwind base;
@tailwind components;
@tailwind utilities;


.sidebar::-webkit-scrollbar {
  display: none;
}
.sidebar {
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */
}

html {
  scroll-behavior: smooth;
}

